.dialog {
  display: block;
}

.text {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-alt {
  background-color: #868e96;
}

.button-alt:hover {
  background-color: #adb5bd;
}
